:root {
  --font-famaly: 'Niconne', cursive;
  --bebas: 'Bebas Neue', cursive;
  --apricot: #FFCDB2;
  --melon: #FFB4A2;
  --pastel-pink: #E5989B;
  --english-lavender: #B5838D;
  --old-lavender: #6d6875;
  --eggshell: #F4F1DE;
  --terra-cotta: #E07A5F;
  --independence: #3D405B;
  --green-sheen: #81B29A;
  --deep-shampagne: #F2CC8F;
  --green-sheen-alpha: #D5E3E0;
  --ibm: 'IBM Plex Serif', serif;
}